@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(250, 235, 215, 0.558);
}

header {
    background-color: rgba(128, 128, 128, 0.705);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.595);
    height: fit-content;
}

#conteiner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
}

#conteiner > h1 {
    color: rgba(255, 255, 255, 0.936);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.468);
    padding: 8px;
    flex-basis: 200px;
}

#itens {
    align-content: center;
    padding: 15px;
}

#itens > a {
    text-decoration: none;
    color: white; 
    background-color: black;
    padding: 8px;
    border-radius: 6px;
}

main {
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.297);
    background-color: white;

    margin: 10px;
    padding-left: 15px;
    padding-right: 35px;
    text-align: justify;
}