@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 15px;
    padding-top: 10px;
}

header > p {
    padding-top: 15px;
}

section {
    background-color: rgba(178, 178, 178, 0.481);
}

section > h2 p{
    margin: 15px;
    padding-top: 10px;
    border: 1px dotted black;
}

#conteudo1 {
    display: flex;
}

#imagem{
    display: flex;
    flex-flow: row-reverse wrap;
}

footer {

}